@page
@model CosmicFood2.Pages.Admin.FoodType.UpsertModel
@{
}


<form method="post" asp-action="Upsert">
    <div class="container">
        <div class="px-2 row backgroundWhite border">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            @if (Model.FoodType.ID != 0)
            {
                <input asp-for="FoodType.ID" type="hidden" />
            }

            <div class="col-12 px-3" style="border-bottom:1px solid #b6ff00">
                <h2 class="text-primary">@(Model.FoodType.ID!=0 ?"Update": "Food Type")</h2>
            </div>
            <div class="col-8 pt-3">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="FoodType.Name"></label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" asp-for="FoodType.Name" />
                        <span class="text-danger" asp-validation-for="FoodType.Name"></span>
                    </div>
                </div>
                <div class="form-group row ">
                    <div class="col-9 offset-3">
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-outline-primary form-control" type="submit">@(Model.FoodType.ID!=0 ?"Update": "Create")</button>
                            </div>
                            <div class="col-6">
                                <a asp-page="./Index" class="btn btn-outline-success form-control">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>